#heading {
    text-align: center;
}

.main-container {
    text-align: center;
}

.sketchbox {
    display: grid;
    border: black solid 1px;
    margin: auto;
    width: 50vw;
    height: 50vh;
}

.buttons {
    margin: 15px 0px;
}